setuptools
streamlit
pandas
numpy
plotly
PyMuPDF
python-dotenv
google-search-results
langchain
langchain-openai
langchain-core
langgraph
langchain-google-genai
langchain-deepseek
protobuf==3.20.*
pinecone-client
langchain-pinecone
langchain_community

# conda create -n market_research_bot python=3.10 -y
# conda activate market_research_bot
# pip install -r requirements.txt
# streamlit run filename.py
