streamlit
langchain_core
langchain_community
langchain_ollama
pdfplumber
langgraph
openai
serpapi
google-search-results
python-dotenv
langchain_openai
matplotlib
PyPDF2
pymupdf
tabulate
plotly
# conda create -n market_research_bot python=3.10 -y
# conda activate market_research_bot
# pip install -r requirements.txt
# streamlit run filename.py